.gif-button {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 12px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
}

.gif-button.noclick {
  pointer-events: none;
}

.gif-button.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.gif-button.primary > .button-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 150ms ease-in-out;
  position: absolute;
  left: 8px;
  top: calc(50% - 18px);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background: #3182ce;
}

.gif-button.primary:hover > .button-icon-wrapper {
  background: #2b6cb0;
}

.gif-button.primary i {
  color: #e7f5fe;
  transform: translateX(0.5px);
}

.gif-button.primary {
  color: white;
  background: #4299e1;
  border-color: #3182ce;
}

.gif-button.primary:hover {
  background: #3182ce;
}

.gif-button.primary.grey {
  background: #a0aec0;
  border-color: #718096;
}

.gif-button.primary.grey:hover {
  background: #718096;
}

.gif-button.primary.grey > .button-icon-wrapper {
  background: #718096;
}

.gif-button.primary.grey:hover > .button-icon-wrapper {
  background: #4a5568;
}

.gif-button.primary.red {
  background: #f56565;
  border-color: #e53e3e;
}

.gif-button.primary.red:hover {
  background: #e53e3e;
}

.gif-button.primary.red > .button-icon-wrapper {
  background: #e53e3e;
}

.gif-button.primary.red:hover > .button-icon-wrapper {
  background: #c53030;
}

.gif-button.secondary {
  background: transparent;
  color: #3182ce;
  border-color: #3182ce;
  padding: 12px 24px;
}

.gif-button.secondary > .button-icon-wrapper {
  margin-right: 12px;
}

.gif-button.secondary:hover {
  color: #2c5282;
  border-color: #2c5282;
}

.gif-button.secondary.grey {
  color: #718096;
  border-color: #a0aec0;
}

.gif-button.secondary.grey:hover {
  color: #4a5568;
  border-color: #4a5568;
}

.gif-button.secondary.red {
  color: #e53e3e;
  border-color: #f56565;
}

.gif-button.secondary.red:hover {
  color: #c53030;
  border-color: #c53030;
}
