.gif-warning {
  align-items: center;
  width: 100%;
}

.gif-warning > h1 {
  color: var(--color-secondary-600);
  font-size: 18px;
}

.gif-warning > *:not(:last-child) {
  margin-bottom: 20px;
}

.gif-warning > i {
  color: var(--color-secondary-400);
}

.gif-warning > p {
  margin-bottom: 40px !important;
}

.gif-warning > * {
  max-width: 520px;
  text-align: center;
}
