.gif-button {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 12px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
}

.gif-button.noclick {
  pointer-events: none;
}

.gif-button.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.gif-button.primary > .button-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 150ms ease-in-out;
  position: absolute;
  left: 8px;
  top: calc(50% - 18px);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background: var(--color-primary-600);
}

.gif-button.primary:hover > .button-icon-wrapper {
  background: var(--color-primary-700);
}

.gif-button.primary i {
  color: var(--color-primary-100);
  transform: translateX(0.5px);
}

.gif-button.primary {
  color: var(--color-background);
  background: var(--color-primary-500);
  border-color: var(--color-primary-600);
}

.gif-button.primary:hover {
  background: var(--color-primary-600);
}

.gif-button.primary.grey {
  background: var(--color-secondary-500);
  border-color: var(--color-secondary-600);
}

.gif-button.primary.grey:hover {
  background: var(--color-secondary-600);
}

.gif-button.primary.grey > .button-icon-wrapper {
  background: var(--color-secondary-600);
}

.gif-button.primary.grey:hover > .button-icon-wrapper {
  background: var(--color-secondary-700);
}

.gif-button.primary.red {
  background: var(--color-error-500);
  border-color: var(--color-error-600);
}

.gif-button.primary.red:hover {
  background: var(--color-error-600);
}

.gif-button.primary.red > .button-icon-wrapper {
  background: var(--color-error-600);
}

.gif-button.primary.red:hover > .button-icon-wrapper {
  background: var(--color-error-700);
}

.gif-button.secondary {
  background: transparent;
  color: var(--color-primary-600);
  border-color: var(--color-primary-600);
  padding: 12px 24px;
}

.gif-button.secondary > .button-icon-wrapper {
  margin-right: 12px;
}

.gif-button.secondary:hover {
  color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.gif-button.secondary.grey {
  color: var(--color-secondary-600);
  border-color: var(--color-secondary-500);
}

.gif-button.secondary.grey:hover {
  color: var(--color-secondary-700);
  border-color: var(--color-secondary-700);
}

.gif-button.secondary.red {
  color: var(--color-error-600);
  border-color: var(--color-error-500);
}

.gif-button.secondary.red:hover {
  color: var(--color-error-700);
  border-color: var(--color-error-700);
}
