.gif-button {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  padding: 12px;
  border-radius: 12px;
}

.gif-button.disabled {
  pointer-events: none;
}

.gif-button.primary {
  color: white;
  background: #4299e1;
  border: 1px solid #3182ce;
}

.gif-button.primary:hover {
  background: #3182ce;
}

.gif-button.primary.grey {
  background: #A0AEC0;
  border-color: #718096;
}

.gif-button.primary.grey:hover {
  background: #718096;
}

.gif-button.primary.red {
  background: #F56565;
  border-color: #E53E3E;
}

.gif-button.primary.red:hover {
  background: #E53E3E;
}
