.gif-home-header {
  flex-wrap: wrap;
}

.gif-home-paginate {
  padding: 0;
  width: 100%;
}

.gif-home-paginate > :first-child {
  padding-right: 8px;
}

.gif-home-paginate > :last-child {
  padding-left: 8px;
}

.gif-home-paginate li {
  list-style: none;
}

.gif-home-paginate > *:not(:last-child) {
  margin-right: 4px;
}

h1 > h2 {
  display: inline;
}

.gif-home-order > *:not(:last-child) {
  margin-right: 8px;
}

.gif-home-createnew {
  position: fixed;
  bottom: 94px;
  padding: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.gif-home-createnew > * {
  pointer-events: auto;
}

.gif-home-createnew button {
  width: 300px;
  max-width: calc(100vw - 32px);
}

.gif-cards-container {
  display: grid;
  justify-content: space-between;
  max-width: 100%;
  grid-template-columns: repeat(2, 50%);
  gap: 4px;
  margin-bottom: 96px !important;
}

@media (min-width: 560px) {
  .gif-cards-container {
    grid-template-columns: repeat(3, calc(100% / 3));
  }
  .gif-home-header {
    flex-wrap: nowrap;
  }
  .gif-home-paginate {
    width: unset;
  }
}

@media (min-width: 940px) {
  .gif-cards-container {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (min-width: 1200px) {
  .gif-cards-container {
    grid-template-columns: repeat(5, 20%);
  }
}

@media (min-width: 1500px) {
  .gif-cards-container {
    grid-template-columns: repeat(6, calc(100% / 6));
  }
}
