.gif-createnew-button {
  position: fixed;
  bottom: 118px;
  left: 50%;
  margin-left: -150px;
  z-index: 10;
}

h1 > h2 {
  display: inline;
}

.gif-home-order > *:not(:last-child) {
  margin-right: 8px;
}

.gif-createnew-button > button {
  width: 300px;
}

.gif-card-image-container {
  position: relative;
  background: #edf2f7;
  border-radius: 12px;
  overflow: hidden;
  z-index: 0;
}

.gif-card-image {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.gif-cards-container {
  display: grid;
  justify-content: space-between;
  max-width: 100%;
  grid-template-columns: repeat(2, auto);
  gap: 4px;
  margin: 0px auto;
}

@media (min-width: 560px) {
  .gif-cards-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 940px) {
  .gif-cards-container {
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 1200px) {
  .gif-cards-container {
    grid-template-columns: repeat(5, auto);
  }
}

@media (min-width: 1500px) {
  .gif-cards-container {
    grid-template-columns: repeat(6, auto);
  }
}
