.gif-page-container {
  position: relative;
  height: calc(100% - 94px);
  overflow-y: auto;
  padding: 40px 20px 0 20px;
}

.gif-page-container > *:last-child {
  margin-bottom: 20px;
}

.gif-page-header {
  width: 100%;
  height: 48px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  height: 94px;
  background: var(--color-secondary-200);
  padding: 0 20px;
}

@media (min-width: 560px) {
  footer {
    padding: 0 40px;
  }
  .gif-page-container {
    padding: 40px 40px 0 40px;
  }
  .gif-page-container > *:last-child {
    margin-bottom: 40px;
  }
}
