.gif-create-content {
  width: 100%;
  align-items: center;
}

.gif-create-content > * {
  width: 384px;
}

.gif-create-content > *:not(:last-child) {
  margin-bottom: 20px;
}

.gif-video-container > * {
  width: 100%;
  border-radius: 12px;
  min-height: 288px;
  background: #EDF2F7;
}

.gif-video {
  border-radius: 12px;
}

textarea {
  min-height: 68px;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #A0AEC0;
  font-size: 14px;
  font-weight: 500;
  color: #2A4365;
  resize: vertical;
}

textarea:hover::placeholder {
  color: #2A4365;
}

textarea:focus::placeholder {
  color: #2A4365;
}

textarea::placeholder {
  color: #718096;
  transition: color 150ms ease-in-out;
}
