.gif-create-content {
  width: 100%;
  align-items: center;
}

.gif-create-content > * {
  width: 384px;
}

.gif-create-content > *:not(:last-child) {
  margin-bottom: 20px;
}

.gif-video {
  border-radius: 12px;
}
