.gif-create > .gif-warning {
  margin-top: 5%;
}

.gif-create-content {
  width: 100%;
  align-items: center;
}

.gif-create-content > * {
  width: 384px;
  max-width: 100%;
}

.gif-create-content > *:not(:last-child) {
  margin-bottom: 20px;
}

.gif-video {
  border-radius: 12px;
  height: auto;
}

textarea {
  min-height: 68px;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid var(--color-secondary-500);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary-900);
  resize: vertical;
}

textarea:hover::placeholder {
  color: var(--color-primary-900);
}

textarea:focus::placeholder {
  color: var(--color-primary-900);
}

textarea::placeholder {
  color: var(--color-secondary-600);
  transition: color 150ms ease-in-out;
}

@media (min-width: 560px) {
  .gif-video {
    height: 288px;
  }
}
